{% extends 'app_main/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ msg }}</h1>
            </div>
        </div>
        {% for author in authors %}
        <div class="card mt-3">
            <div class="card-body">
                <a href="{% url 'app_main:author' author.id %}" class="">
                    <h5 class="card-title">{{ author.fullname }}</h5>
                    <p class="card-text">{{ author.born_date }}</p>
                    <p class="card-text">{{ author.born_location }}</p>
                </a>


                {% for quote in author.quote_set.all %}


                <p class="card-text"> {{ quote.quote }}</p>

                {% empty %}

                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
