{% extends 'app_main/base.html' %} {% block content %}
<section class="section">

    <div class="container mt-5">

        <ul class="massages">
            {% for message in messages %}
            <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>

        <div class="row">
            <div class="col-12">
                <h1>Login User</h1>
            </div>
        </div>

        <form method="post" class="col-6">
            {% csrf_token %}
            {% if form.errors and form.non_field_errors %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                    {{ form.non_field_errors }}
                </div>
            </div>

            {% endif %}

            <div class="mb-3">
                <label class="form-label"
                >User Name
                    {{ form.username }}
                </label>
                <span>{{ form.username.errors }}</span>
            </div>

            <div class="mb-3">
                <label class="form-label"
                >Password
                    {{ form.password }}</label>
                <span>{{ form.password1.errors }}</span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Reset</button>

        </form>

    </div>

</section>
{% endblock content %}
